# Serverless directories
.serverless

# golang output binary directory
lambda/bin

# golang vendor (dependencies) directory
vendor

# ignore all env variables
.env
env.json

# bin-data file
lambda/graphql/schema/bindata.go

#vscode
.vscode

node_modules
