{
  "GraphqlFunction": {
    "MYSQL_ROOT_PASSWORD": "styleblitz",
    "MYSQL_DATABASE": "styleblitz",
    "MYSQL_USER": "root",
    "MYSQL_PASSWORD": "styleblitz",
    "DATABASE_HOST": "docker.for.mac.localhost",
    "MYSQL_PORT": "3307",
    "MIGRATION_PATH": "shared/migrations/query",
    "APP_NAME": "styleblitz",
    "ROOT_DIRECTORY": "/go/src/github.com/synergydesigns/stylesblitz-server"
  }
}