{
  "GraphqlFunction": {
    "PG_ROOT_PASSWORD": "styleblitz",
    "PG_DATABASE": "styleblitz",
    "PG_USER": "root",
    "PG_PASSWORD": "styleblitz",
    "PG_HOST": "docker.for.mac.localhost",
    "PG_PORT": "5432",
    "MIGRATION_PATH": "migrations/query",
    "APP_NAME": "styleblitz",
    "ROOT_DIRECTORY": "/go/src/github.com/synergydesigns/stylesblitz-server"
  }
}